
header {
  display: flex;
  /* height: 18vh; */
  height: 18%;
}

.container {
  padding: 0;
}

.content {
  display: flex;
  background-color: white;
  border-top: solid 0.1rem grey;
  margin-top: 2vh;
}

.sidemenu {
  top: 56px;
  height: 100%;
  margin-top: 1vh;
  z-index: 1 !important;
}

@media only screen and (max-width: 992px) {
  .header-logo img {
      padding-left: 2vh;
      width: 180px;
  }
  .sidemenu {
      top: 56px;
      height: 100%;
      margin-top: 1vh;
      z-index: 1 !important;
  }
  .nav-item {
      padding: 1vh 8vh 0vh 1vh !important;
  }
  td {
      display: block;
  }
  main {
      margin: 0vh 2vh;
      overflow-x: hidden;
  }
  #bag-dashboard {
    width: 300px !important;
  }
}

@media only screen and (max-width: 480px) {
  .nav-item {
      padding: 1vh 3vh 0vh 1vh !important;
  }
  h1 {
      font-size: 28px;
  }
  #bag-dashboard {
    width: 200px !important;
  }
}

@media only screen and (max-width: 350px) {
  h1 {
      font-weight: bold;
      font-size: 23px;
  }
  h4 {
      font-size: 18px;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.navbar {
  height: 56px;
}


.nav-item {
  padding: 1vh 20vh 0vh 1vh;
}

section {
  /* margin: 0vh 2vh 2vh 2vh; */
  margin: 2% 2% 4% 2%;
}

h1 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

h6 {
  font-style: italic;
}

footer {
  margin-top: 10vh;
  margin-bottom: 56px;
}

#copyright {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background-color: #f8f9fa;
}

a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  color: grey;
}

body {
  background-color: #d0d0d0;
}

#dashboard {
  display: flex;
  flex-direction: row;
}

#about {
  margin-top: 10vh;
}

.tableauPlaceholder {
  position: relative; 
  /* width: 1000px; */
  /* width: 600px; */
  flex: 4;
  height: 827px; 
  overflow: hidden; 
  display: block;
}

#bag-dashboard-img {
  border: none
}

#bag-dashboard {
  display: block;
  /* width: 1000px; */
  width: 500px;
  height: 827px;
  margin: 0px; 
  padding: 0px; 
  border: medium none;
}

#chatbot-container {
  margin-left: 5vh;
  flex: 6;
}

#chatbot {
  min-width: 100px; 
  width: 100%; 
  min-height: 500px;
  border-radius: 5%;
}

#sidemenu-img {
  margin-left: 2vh;
}

#sidemenu-zh {
  margin-left: 2vh;
}

.sidemenu-zh-link {
  /* border-top: solid 0.5px; */
  border: 1px solid #d0d0d0;
  /* border-color: grey; */
  background-color: #f5f5f5;
  font-size: 14px;
  font-family: Helvetica,Arial,sans-serif !important;
}

#chatbot-link {
  padding-top: 3px !important;
  padding-left: 36px;
  border-top: solid 0.1rem grey;
  background-color: #f5f5f5;
  font-size: 14px;
  font-family: Helvetica,Arial,sans-serif !important;
}